#art-page{
    padding: 50px 0;
    .art-row{
        display: flex;

        // ############# Image Cont ##################
        .image-cont{
            .art-image{
                width: 500px;
                height: 500px;
                border-radius: 20px;
                box-shadow: $shadow;
                border: 5px solid white;
            }

            .bid-data{
                margin-top: 20px;
                display: flex;
                justify-content: space-between;

                .priceandbidders{
                    p{
                        margin: 0 !important;
                        color: #747474;
                    }
                }

                .highest-bid{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    img{
                        border-radius: 50%;
                        width: 50px; height: 50px;
                    }
                    p,h3{
                        margin: 0 !important;
                        color: #747474;
                    }
                    h3{
                        color: $secondary;
                    }
                }
            }
        }
        // ############# Image Cont End ##################

        // ############# Bid Data Cont ##################
        .bid-data-cont{
            padding: 10px 30px;

            .bid-history{
                height: 340px;
                overflow-x: hidden;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    visibility: hidden;
                }
            

                .one-bid{
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    // justify-content: center;
                    padding: 5px;
                    border: 1px solid #dedede;
                    border-radius: 6px;

                    .bidder-dp{
                        border-radius: 50%;
                        height: 40px; width: 40px;
                    }

                    .nameandbid{
                        
                        h6{
                            font-weight: bold;
                            margin: 0;
                            color: rgb(6, 221, 6);
                        }

                        .bid{
                            color: rgb(6, 221, 6);
                        }

                        .message{
                            color: $secondary;
                        }

                        p{
                            color: $primary;
                            font-weight: 600;
                            margin: 0;

                            span{
                                font-size: 12px;
                                font-weight: lighter;
                                color: #747474 !important;
                            }
                        }
                    }
                }
            }


            .messageandbid{
                display: flex;
                width: 100%;
                margin-top: 20px;
                input{
                    height: 70px;
                    border: 1px solid $primary;
                    flex: 2;
                }
                .buttons{
                    button{
                        display: block;
                        width: 100px;
                        height: 30px;
                        background: none;
                        border: none;
                        border-radius: 8px;
                        color: white;
                        margin: 5px;
                    }
                    .bid{
                        background: $secondary;
                    }
                    .message{
                        background: $primary;
                    }
                }

            }

        }
    }
}