@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');

$shadow: 0px 8px 40px 20px rgba(112, 144, 176, 0.2);


@import 'colors';
@import 'hero';
@import 'one-card';
@import 'one-artist';
@import 'art-page';
@import 'upload';




*{
    font-family: 'Nunito', sans-serif;
}

body{
    overflow: hidden;
    overflow-y: scroll;

    margin: 0; padding: 0;
    box-sizing: border-box;
    width: 100%;
}



input{
    border: none;
    border-radius: 8px;
    padding-left: 10px;

    &:focus{
        outline: none;
        border: none;
    }
}

a{
    color: $secondary;
    text-decoration: none !important ;
}

p,h1,h2,h3,h4,h5,h6,a,li{
    margin: 0;
    padding: 0;
}




footer{
    border-top: 1px solid #dedede;
    padding: 20px 10px;

    .footer-logo{
        width: 120px;
    }

    .links{
        h5{
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 15px;

        }
        li{
            list-style: none;
            margin-bottom: 12px;
            a{
                color: #6b6b6b;
            }
        }
    }

    .copyright{
        font-weight: lighter;
        font-size: 12px !important;
    }
}


.btn-primary{
    background: $primary !important;
    border: 1px solid $primary !important;
    border: none;
    padding: 5px 24px;
    height: 40px; width: 150px;
}


// ################## Footer Media Queries ##################

@media(max-width: 769px){
    footer{
        font-size: 14px !important;
    }
}

@media(max-width: 426px){
    footer{
        ul{
            li{
                margin: 0 12px !important;
            }
        }
        font-size: 14px !important;
    }
}


@media(max-width: 376px){
    footer{
        ul{
            li{
                margin: 0 10px !important;
            }
        }
        font-size: 12px !important;
    }

    .btn-primary{
        width: 120px !important; height: 40px;
    }
    h2{
        font-size: 30px !important;
    }
}


@media(max-width: 321px){
    footer{
        height: 35px !important;
        padding: 5px;
        display: block;
        ul{
            text-align: center;
            li{
                margin: 0 8px !important;
            }
        }
        font-size: 10px !important;
    }
}


@media (max-width: 281px) {
    .btn-primary{
        width: 100px !important; height: 40px;
        font-size: 14px !important;
    }
    h2{
        font-size: 26px !important;
    }
}


