.search_container {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.search_bar {
    border-color: white;
}

.search_bar:focus {
    border-color: white;
}

.search_bar_visible_bottom_radius {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search_bar_invisible_bottom_radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: lightgray;
}

.dropdown_visible {
    display: block;
}

.dropdown_invisible {
    display: none;
}

.dropdown_content {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
